<div style="text-align: center; max-width: 300px; margin: 0 auto;">
    <h1 style="font-size: 24px; margin-bottom: 20px;">Registro</h1>
    <form action="/register" method="post" style="margin-bottom: 20px;">

        <label for="username" style="display: block; margin-bottom: 5px;">Username</label>
        <input type="text" id="username" name="username" autocomplete="off" required
            style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;" />

        <label for="name" style="display: block; margin-bottom: 5px;">Nombre</label>
        <input type="text" id="name" name="name" autocomplete="off" required
            style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;" />

        <label for="lastName" style="display: block; margin-bottom: 5px;">Apellido</label>
        <input type="text" name="lastName" autocomplete="off" required
            style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;" />

        <label for="email" style="display: block; margin-bottom: 5px;">Email</label>
        <input type="email" id="email" name="email" autocomplete="off" required
            style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;" />

        <label for="password" style="display: block; margin-bottom: 5px;">Password</label>
        <input type="password" id="password" name="password" required
            style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;" />

        <label for="confirmPassword" style="display: block; margin-bottom: 5px;">Repetir Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required
            style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 20px;" />

        <button type="submit"
            style="width: 100%; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Registrarse</button>
    </form>

    <p style="font-size: 14px;">¿Ya tienes una cuenta?
        <a href="/login" style="color: #007bff; text-decoration: none;">Ingresa
            aquí</a>
    </p>
</div>